<div class="application">
  <div class="navigation">
    <nav class="navbar navbar-expand-lg navbar-dark scrolling-navbar monkey-navbar" style="min-height: 59px">
      <a class="navbar-brand" href="/"><img class="main-logo" src="./assets/svg/long-logo.svg" alt="MonkeySerwis"/></a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item"><a class="nav-link text-dark nav-monkey-link" href="/#costs"><span class="section-link">CENNIK USŁUG</span></a></li>
          <li class="nav-item"><a class="nav-link text-dark nav-monkey-link" href="/#questions"><span class="section-link">NAJCZĘŚCIEJ ZADAWANE PYTANIA</span></a></li>
          <li class="nav-item"><a class="nav-link text-dark nav-monkey-link" href="/#contacts"><span class="section-link">KONTAKT</span></a></li>
        </ul>
      </div>
    </nav>
  </div>
  <div class="main">
    <div class="wrapper">
      <div class="container monkey-content">
        <router-outlet></router-outlet>
      </div>
    </div>
    <footer class="text-center text-lg-start" id="footer-main">
      <div class="image text-center text-dark p-3" style="background-color: #fadbdb; font-weight: 700">
        <a class="nav-link text-dark nav-monkey-link"><img class="email-logo" src="./assets/svg/email-logo.svg" alt="Email"/>monkeyserwis@gmail.com</a>
        <a class="nav-link text-dark nav-monkey-link"><img class="phone-logo" src="./assets/svg/telegram-logo.svg" alt="Telegram"/><img class="phone-logo" src="./assets/svg/whatsapp-logo.svg" alt="WhatsApp"/><img class="phone-logo" src="./assets/svg/viber-logo.svg" alt="Viber"/><img class="phone-logo" src="./assets/svg/phone-logo.svg" alt="Phone"/>+48 696 848 815</a>
        <a class="nav-link nav-monkey-link map-link" href="https://maps.app.goo.gl/HadNGey1tmFuQ9cZ6?g_st=it"><img class="location-logo" src="./assets/svg/location-logo.svg" alt="Location"/>05–831 ROZALIN UL. MŁOCHOWSKA 177</a>
        Śledź nas na
        <a class="nav-monkey-link" aria-label="Facebook" href="https://www.facebook.com/profile.php?id=100093624880914"><img class="facebook-logo" src="./assets/svg/facebook-logo.svg" alt="Facebook"/></a>
        <a class="nav-monkey-link" aria-label="Instagram" href="https://instagram.com/monkey_serwis?igshid=OGQ5ZDc2ODk2ZA=="><img class="instagram-logo" src="./assets/svg/instagram-logo.svg" alt="Instagram"/></a>
        <a class="nav-monkey-link" aria-label="Tiktok" href="https://www.tiktok.com/@monkey.serwis?_t=8dqTc9rJlRz&_r=1"><img class="tiktok-logo" src="./assets/svg/tiktok-logo.svg" alt="Tiktok"/></a>
        <p class="mb-0 mt-2">Monkey Serwis © 2024</p>
      </div>
    </footer>
  </div>
</div>
