<div class="container text-center">
  <h1 class="mb-5 text-header">SERWIS HULAJNOG KUGOO</h1>
</div>
<div class="container d-flex align-items-center">
  <p class="text-start text-overview me-4">Hulajnogi elektryczne Kugoo są niezawodne i rzadko się psują. Ale nikt nie jest
    odporny na awarie, a nawet nowy sprzęt może zawieść z powodu niewłaściwej obsługi, uszkodzeń mechanicznych lub z
    innych powodów.
    <br>
    <br>
    Naprawa hulajnogi muszą być przeprowadzane w specjalistycznym centrum serwisowym. Daje to gwarancję, że problem
    zostanie rozwiązany, a hulajnoga będzie służyć ponad rok.</p>
  <img src="./assets/png/wall.png" alt="Wall" class="wall">
</div>
<div class="container d-flex align-items-center">
  <img src="./assets/png/wheel.png" alt="Wheel" class="wheel">
  <p class="text-start text-overview ms-4">Główne wady z hulajnogami Kugoo można podzielić na dwie grupy: mechaniczne i
    elektryczne. Do pierwszych należą te, które powstały w wyniku uszkodzeń mechanicznych spowodowanych upadkiem,
    niewłaściwą obsługą, złymi drogami. Te ostatnie związane są z wnikaniem wilgoci, niewłaściwą pracą baterii lub
    awarią części elektrycznych.</p>
</div>
<div class="container text-center">
  <h1 class="my-5 text-header">GŁÓWNE WADY HULAJNOGI</h1>
</div>
<div class="container d-flex align-items-center">
  <div class="container d-flex flex-column">
    <span class="text-start text-overview"> ◉ Spalony sterownik, silnik;</span>
    <span class="text-start text-overview"> ◉ Szybkie rozładowanie baterii;</span>
    <span class="text-start text-overview"> ◉ Słaba przyczepność hulainogi;</span>
    <span class="text-start text-overview"> ◉ Hulajnoga nie ładuje się, nie włącza się;</span>
    <span class="text-start text-overview"> ◉ Woda w podeście lub silniku;</span>
    <span class="text-start text-overview"> ◉ Uszkodzenie podesta, kół;</span>
    <span class="text-start text-overview"> ◉ Reflektory, przyciski sterujące nie działają;</span>
    <span class="text-start text-overview"> ◉ Pęknięte łożyska.</span>
    <br>
    <p class="text-start text-overview">Doświadczenie i wysokie kwalifikacje naszych inżynierów pozwalają nam
      rozwiązywać problemy o dowolnej złożoności w dniu wezwania. W rzadkich przypadkach naprawa hulajnogi elektrycznej
      może trwać dłużej. Wykonanie prac, ich cena, termin uzgadniamy z klientem.</p>
  </div>
  <img src="./assets/png/battery.png" alt="Battery" class="battery">
</div>
<div class="container text-center">
  <h1 class="my-5 text-header">ETAPY NAPRAWY</h1>
</div>
<div class="container d-flex align-items-center">
  <img src="./assets/png/steering-wheel.png" alt="Steering Wheel" class="steering-wheel">
  <div class="container d-flex flex-column">
    <p class="text-start text-overview-sm ms-4">Nasz serwis gwarantuje szybkie wykonanie prac oraz udziela na nie gwarancji.
      Jeżeli Twoja hulajnoga nie jedzie lub nie działa prawidłowo, nie zwlekaj z wizytą u nas. Terminowa naprawa pozwala
      uniknąć poważnych problemów i dodatkowych kosztów.</p>
    <br>
    <p class="text-start text-overview-sm ms-4">Jak pracujemy:</p>
    <span class="text-start text-overview-sm ms-4"> ◉ Wizyta w naszym serwisu;</span>
    <span class="text-start text-overview-sm ms-4"> ◉ Mistrzowie przeprowadzają inspekcję, złożoną diagnostykę;</span>
    <span
      class="text-start text-overview-sm ms-4"> ◉ Przyczyny awarii są eliminowane, zużyte, wadliwe części są wymieniane;</span>
    <span class="text-start text-overview-sm ms-4"> ◉ Montaż i testowanie hulajnogi.</span>
    <br>
    <p class="text-start text-overview-sm ms-4">Używamy oryginalnych komponentów. Przed przystąpieniem do pracy wszystkie
      szczegóły uzgadniane są z klientem. Możliwa dostawa przez kuriera.</p>
  </div>
</div>
<div class="container text-center">
  <h1 class="my-5 text-header">DLACZEGO WARTO SKONTAKTOWAĆ SIĘ Z MONKEY SERWIS?</h1>
</div>
<div class="container text-center">
  <img src="./assets/svg/long-logo-inv.svg" alt="Logo" class="logo">
</div>
<div class="container d-flex align-items-center">
  <div class="container d-flex flex-column">
    <p class="text-start text-overview">Konserwacja hulajnóg elektrycznych odbywa się zgodnie z zaleceniami producenta.
      Nie zaleca się samodzielnej naprawy tak złożonego produktu. Może to prowadzić do poważnych szkód, niepotrzebnych
      kosztów.
      <br>
      <br>
      Nasze centrum serwisowe naprawia hulajnogi elektryczne Kugoo o dowolnej złożoności. Używamy profesjonalnego
      sprzętu, prace wykonujemy zgodnie z wytycznymi producenta. Doświadczenie i wysokie kwalifikacje naszych inżynierów
      gwarantują, że prace zostaną wykonane szybko i na najwyższym poziomie.
      <br>
      <br>
      Potrzebujesz więcej informacji, napisz do nas na e-mail lub zadzwoń do nas.
    </p>
  </div>
</div>
<div class="container text-center">
  <h1 class="my-5 text-header">NAJCZĘŚCIEJ ZADAWANE PYTANIA</h1>
</div>
<div class="container text-center">
  <div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                aria-expanded="false" aria-controls="collapseOne">
          Jaki komplet hulajnogi ma być, jak oddaję je do naprawy?
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          Nie ma znaczenia, czy hulajnoga jest kompletna, czy nie, z wyjątkiem wad związanych z uszkodzonym elementem
          zewnętrznym, takim jak brak ładowania hulajnogi, w którym to przypadku lepiej oddać ją do diagnostyki
          wraz ze sprzętem, z którego się nie ładuje.
          jeśli hulajnoga ma stacyjkę, potrzebny jest kluczyk.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo"
                aria-expanded="false" aria-controls="collapseTwo">
          Czy mogę oddać hulajnogu tylko do diagnostyki?
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          Tak, można, ale jeśli hulajnoga nie będzie naprawiana w naszym serwisie, ta usługa będzie płatna.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Czy mogę kupić u was części zamienne?
        </button>
      </h2>
      <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          Nie, nie sprzedajemy części zamiennych.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          Czy jest możliwość szybkiej naprawy?
        </button>
      </h2>
      <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          Jeśli wada jest wyraźna i dostępna jest część zamienna, jest możliwość szybkiej naprawy. We wszystkich
          przypadkach konieczne jest przeprowadzenie diagnostyki, po której okaże się, czy hulajnoga musi zostać na czas dłuższy.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
          Jak mogę dowiedzieć się o kosztach naprawy po diagnostyce?
        </button>
      </h2>
      <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          Wystarczy zostawić numer telefonu, albo adres mailowy, pod którym nasi technicy skontaktują się z Tobą w
          celu opisania wady, wymaganych napraw oraz uzgodnienia z Tobą kosztów i harmonogramu. Naprawa nie zostanie
          przeprowadzona bez zgody użytkownika.
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container text-center">
  <h1 class="my-5 text-header">NASZE KONTAKTY</h1>
</div>
<div class="container d-flex align-items-stretch">
  <div class="contacts me-4">
    <div class="card mb-4 card-contact" style="max-width: 350px;">
      <div class="row g-0">
        <div class="col-md-4 d-flex align-items-center justify-content-center">
          <img src="./assets/svg/location-contact.svg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Adres:</h5>
            <p class="card-text">05–831 Rozalin ul.Młochowska 177</p>
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-4 card-contact" style="max-width: 350px;">
      <div class="row g-0">
        <div class="col-md-4  d-flex align-items-center justify-content-center">
          <img src="./assets/svg/clock-contact.svg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Godziny otwarcia:</h5>
            <p class="card-text">Pon - Pt: 12:00 - 20:00</p>
            <p class="card-text">Sob: 10:00 - 16:00</p>
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-4 card-contact" style="max-width: 350px;">
      <div class="row g-0">
        <div class="col-md-4  d-flex align-items-center justify-content-center">
          <img src="./assets/svg/phone-contact.svg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Kontakt:</h5>
            <p class="card-text">
              <img class="phone-logo" src="./assets/svg/telegram-logo.svg" width="20px" alt=" "/>
              <img class="phone-logo" src="./assets/svg/whatsapp-logo.svg" width="20px" alt=" "/>
              <img class="phone-logo" src="./assets/svg/viber-logo.svg" width="20px" alt=" "/>
              +48 696 848 815</p>
            <p class="card-text">
              <a class="nav-monkey-link" href="https://www.facebook.com/profile.php?id=100093624880914"><img class="facebook-logo me-1" src="./assets/svg/facebook-logo.svg" width="20px" alt=" "/></a>
              <a class="nav-monkey-link" href="https://instagram.com/monkey_serwis?igshid=OGQ5ZDc2ODk2ZA=="><img class="instagram-logo me-1" src="./assets/svg/instagram-logo.svg" width="20px" alt=" "/></a>
              <a class="nav-monkey-link" href="https://www.tiktok.com/@monkey.serwis?_t=8dqTc9rJlRz&_r=1"><img class="tiktok-logo" src="./assets/svg/tiktok-logo.svg" width="20px" alt=" "/></a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="card card-contact" style="max-width: 350px;">
      <div class="row g-0">
        <div class="col-md-4  d-flex align-items-center justify-content-center">
          <img src="./assets/svg/email-contact.svg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Email:</h5>
            <p class="card-text"><code class="text-dark">monkeyserwis@gmail.com</code></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card flex-grow-1">
    <div class="card-body">
      <div class="map-responsive">
        <iframe class="flex-grow-1"
                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d9813.854163055224!2d20.727946!3d52.0530828!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4719393885df963d%3A0x700b6d066a1c7340!2sMonkey%20Serwis%20%7C%20Naprawa%20i%20Serwis%20Hulajn%C3%B3g%20KUGOO!5e0!3m2!1sru!2spl!4v1689005977485!5m2!1sru!2spl"
                style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
  </div>
</div>
<br>
<br>
